---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$icon-font-path:    "../fonts/bootstrap";
$fa-font-path:  "../fonts/font-awesome";

@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   20px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.7;
$base-line-height: 1.7;

$spacing-unit:     35px;

$text-color:       #111;
$background-color: #f7f7f7;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// responsive font size
@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: $base-font-size * 0.8;
  }
  h1 {
    font-size: $base-font-size * 0.95;
  }
  h2 {
    font-size: $base-font-size * 0.9;
  }
  h3 {
    font-size: $base-font-size * 0.85;
  }
}

// import full stack artisan fonts
@font-face {
  font-family: 'fontello';
  src: url('../fonts/full-stack-artisan/fontello.eot?9446595');
  src: url('../fonts/full-stack-artisan/fontello.eot?9446595#iefix') format('embedded-opentype'),
       url('../fonts/full-stack-artisan/fontello.woff2?9446595') format('woff2'),
       url('../fonts/full-stack-artisan/fontello.woff?9446595') format('woff'),
       url('../fonts/full-stack-artisan/fontello.ttf?9446595') format('truetype'),
       url('../fonts/full-stack-artisan/fontello.svg?9446595#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9446595#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-full-stack-artisan-icon2:before { content: '\e800'; } /* '' */




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "customize",
        "syntax-highlighting"
;
