---
layout: page
title: Categories
permalink: /allcategories/
---
<div class="row" style="min-height: calc(100vh - 427px);">
    <div class="col-xs-12 col-sm-12">
              <ul class="nav nav-pills ctm-tab" role="tablist">
                  {% assign categories = site.categories | sort %}
                  {% for category in categories reversed %}
                      {% if forloop.first == true %}
                          <li role="presentation" class="active" ><a href="#{{ category | first | slugify }}" aria-controls="{{ category | first | slugify }}" role="tab" data-toggle="tab">{{ category[0] | replace:'-', ' ' }}</a></li>
                      {% else %}
                          <li role="presentation" ><a href="#{{ category | first | slugify }}" aria-controls="{{ category | first | slugify }}" role="tab" data-toggle="tab">{{ category[0] | replace:'-', ' ' }}</a></li>
                      {% endif %}
                  {% endfor %}
              </ul>


              <!-- Tab panes -->
              <div class="tab-content">
                {% for category in categories.{{ category | first | slugify }}   %}
                    {% if forloop.last == true %}
                        <div role="tabpanel" class="tab-pane fade in active" id="{{ category[0] | replace:'-', ' ' }}">
                            {% assign sorted_posts = site.posts | sort: 'date' %}
                                {% for post in sorted_posts reversed %}
                                    {%if post.categories contains category[0]%}
                                    <div class="panel panel-default ctm-panel">
                                            <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %-d, %Y" }}</span>
                                                <h2 class="post-title">
                                                    <a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                                </h2>
                                                <span class="label label-default ctm-lable">
                                                    <a href="{{ post.url | prepend: site.baseurl }}"> Readmore </a>
                                                </span>
                                    </div>
                                    {%endif%}
                                {% endfor %}
                        </div>
                    {% else %}
                        <div role="tabpanel" class="tab-pane fade" id="{{ category[0] | replace:'-', ' ' }}">
                            {% assign sorted_posts = site.posts | sort: 'date' %}
                                {% for post in sorted_posts  reversed %}
                                    {%if post.categories contains category[0]%}
                                    <div class="panel panel-default ctm-panel">
                                            <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %-d, %Y" }}</span>
                                                <h2 class="post-title">
                                                    <a  href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                                </h2>
                                                <span class="label label-default ctm-lable">
                                                    <a href="{{ post.url | prepend: site.baseurl }}"> Readmore </a>
                                                </span>
                                    </div>
                                    {%endif%}
                                {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
              </div>

    </div>
</div>
