<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://github.com/andyNo10"><i class="fa fa-github-alt"></i></a>
        <a href="https://tw.linkedin.com/in/teng-yung-lin-b12950113"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100006239347841"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/10Andyno"><i class="fa fa-twitter-square"></i></a>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
