<footer class="site-footer">
    <div class="container">
        <div class="col-xs-6 col-sm-1">
            <a href="https://github.com/andyNo10">GitHub</a>
        </div>
        <div class="col-xs-6 col-sm-1">
            <a href="https://tw.linkedin.com/in/teng-yung-lin-b12950113"> LinkedIn</a>
        </div>
        <div class="col-xs-6 col-sm-1">
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}"> Rss</a>
        </div>
        <div class="col-xs-12 col-sm-12">
            {{ site.description }}
        </div>
    </div>
</footer>
